:host {
    --ion-background-color: #f8f9fa;
}

ion-toolbar {
    --background: #073359;
    --color: white;
    text-align: center;
}

ion-header {
    --ion-background-color: #073359;
}

#header {
    color: white;
    text-align: center;
    letter-spacing: 3px;
}

#titulo {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: #4880B8;
    margin-top: 20px;
    letter-spacing: 1px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Contenedor del encabezado de la pantalla */
.headAdmin {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: #5a5a5a;
}

/* Estilos para la barra de búsqueda */
ion-searchbar {
    margin: 15px;
    --background: white;
    --box-shadow: none;
    --border-radius: 8px;
    --placeholder-color: #a0a0a0;
    justify-self: center;
}

/* Estilos para cada tarjeta de medidor */
.cardMedidor ion-card {
    background: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 0;
}

/* Estilo del encabezado de la tarjeta */
.headerMedidor {
    background: #3b82f6;
    color: white;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    
}

/* Contenedor del contenido de la tarjeta */
.contentMedidor {
    display: flex;
    align-items: center;
    padding: 15px;
}

/* Avatar del usuario */
ion-avatar {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

/* Estilo del texto dentro de la tarjeta */
.infoMedidor {
    flex: 1;
    font-size: 14px;
    color: #4a4a4a;
}

/* Pie de página */
.footer {
    text-align: center;
    font-size: 12px;
    color: #999;
    padding: 10px;
}

ion-button {
    --background: transparent;
    --background-activated: rgba(0, 0, 0, 0.1);
    --background-hover: rgba(0, 0, 0, 0.05);
    --box-shadow: none;
    --border-radius: 12px; // Ajusta el borde si lo necesitas
    --padding-top: 0;
    --padding-bottom: 0;
    width: 100%;
    height: auto;
    text-transform: none;
    display: flex;
    justify-content: start;
    align-items: stretch;
    padding: 0;
  }
  
  ion-button::part(native) {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: stretch;
    padding: 0;
  }
  
  ion-card {
    margin: 0;
    width: 100%;
  }
  
  ion-header {
    --ion-background-color: #073359;
  }
  #title ion-header {
    --background: #073359;
  }
  #header {
    color: white;
    text-align: center;
    letter-spacing: 3px;
  }
  #titulo {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: #4880B8;
    margin-top: 20px;
    letter-spacing: 1px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }