<ion-header [translucent]="false" id="title">
  <ion-toolbar>
    <ion-title id="header">HidroMetria</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="headAdmin">
    <h2>Dashboard</h2>
    <p>Informe del consumo del agua</p>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Total Consumo</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h2>{{ totalConsumo }} L</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
  
      <ion-col size="12" size-sm="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Promedio Diario</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h2>{{ promedioDiario }} L</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
  
      <ion-col size="12" size-sm="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Mes</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h2>{{ diasCriticos }}</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>  

  <ion-grid>
  <ion-row>
   <ion-col size="12" size-lg="4" class="ion-col">
    <google-chart
      [type]="chartType"
      [data]="chartData"
      [columns]="chartColumns"
      >
    </google-chart>
  </ion-col>
   <ion-col size="12" size-lg="4" class="ion-col">
    <google-chart
      [type]="comparisonChartType"
      [data]="comparisonChartData"
      [columns]="comparisonChartColumns"
      >
    </google-chart>
  </ion-col>
  <ion-col size="12" size-lg="4" class="ion-col">
        <google-chart
          [type]="radarChartType"
          [data]="radarChartData"
          [columns]="radarChartColumns"
          >
        </google-chart>
  </ion-col>
</ion-row>
</ion-grid>

  <!-- 🔹 Historial de Consumo por Mes (Lista Desplegable) -->
  <ion-list>
    <ion-item-divider>
      <ion-label>Historial de Consumo</ion-label>
    </ion-item-divider>
  
    <ion-accordion-group>
      <ion-accordion *ngFor="let mes of historialMensual">
        <ion-item slot="header">
          <ion-label>{{ mes.mes }}</ion-label>
        </ion-item>
        <div slot="content">
          <ion-list>
            <ion-item *ngFor="let consumo of mes.consumo">
              <ion-label>{{ consumo }}</ion-label>
            </ion-item>
          </ion-list>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-list>
  
</ion-content>