<ion-header [translucent]="false" id="title">
  <ion-toolbar class="toolbar-custom">
    <ion-title id="header">HidroMetria</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-custom">
  <div class="headAdmin">
    <h1 id="titulo">HidroMetria</h1>
    <h2>Reportar</h2>
    <p>Reporta algún problema o incidencia</p>
  </div>

  <ion-card>
    <ion-item>
      <ion-label>Tipo de incidencia</ion-label>
      <ion-select placeholder="Selecciona Una" [(ngModel)]="reportType">
        <ion-select-option value="Fuga de agua">Fuga de agua</ion-select-option>
        <ion-select-option value="Falta de agua">Falta de agua</ion-select-option>
        <ion-select-option value="Baja presion">Baja presion</ion-select-option>
        <ion-select-option value="Agua sucia">Agua sucia</ion-select-option>
        <ion-select-option value="Otro">Otro</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card>

  <ion-card class="card-custom">
    <ion-item>
      <ion-label position="stacked">Descripción</ion-label>
      <ion-textarea placeholder="Describe tu problema con detalle" [(ngModel)]="reportDescription"></ion-textarea>
    </ion-item>
  </ion-card>

  <ion-card class="card-custom">
    <ion-item>
      <ion-label position="stacked">Ubicación</ion-label>
      <ion-textarea placeholder="Ingresa la ubicación de manera exacta y precisa" [(ngModel)]="reportLocation"></ion-textarea>
    </ion-item>
  </ion-card>

  <div class="boton">
    <ion-button class="btn-custom" (click)="submitReport()">Enviar Reporte</ion-button>
  </div>
</ion-content>
