/* Estilos generales */
ion-content {
    --background: #f4f7fc;
    padding: 15px;
  }
  
  ion-header {
    --ion-background-color: #073359;
  }
  #title ion-header {
    --background: #073359;
  }
  #header {
    color: white;
    text-align: center;
    letter-spacing: 3px;
  }
  
  .btn-custom {
    margin-top: 20px;
    background: #073359;
    color: white;
    font-weight: bold;
    border-radius: 10px;
  }

  .boton {
    align-items: center;
    align-self: center;
    width: 100%;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente (si el div tiene altura) */
  }
#titulo {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: #4880B8;
    letter-spacing: 1px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Contenedor del encabezado de la pantalla */
.headAdmin {
    text-align: center;
    font-size: 14px;
    color: #5a5a5a;
}