ion-content {
  --background: #ffffff;
} 
ion-header {
  --ion-background-color: #073359;
}
#title ion-header {
  --background: #073359;
}
#header {
  color: white;
  text-align: center;
  letter-spacing: 3px;
}
#titulo {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: #4880B8;
  margin-top: 20px;
  letter-spacing: 1px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p {
  text-align: center;
  font-size: 1rem;
  color: #606060;
  margin-bottom: 10px;
}
#tarjeta {
  width: 90%;
  max-width: 400px;
  margin: 20px auto;
  border-radius: 5px;
  background-color: #c5e0ffa0;
  padding: 15px;
}
.login-container {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
} 
#imagen {
  width: 80px;
  height: 80px;
  background-color: #d0e4f5;
  border-radius: 50%;
}
ion-input {
  --background: #ffffff;
  --border-radius: 5px;
  --placeholder-color: #a0a0a0;
  --padding-start: 10px;
  border: 1px solid #d9d9d9cc;
  margin-bottom: 15px;
}
#boton {
  --background: #4880B8;
  --border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 5px;
}
#link {
  text-decoration: none;
  margin-top: 15px;
  color: #606060;
}
#link:hover {
  text-decoration: underline;
}